<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .tbl {
            padding: 5px;
        }

        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: Verdana; font-size: 16px; color:#e2eeef;">
    <h5 style="background-color:white;color:black;">{%SiteName%}</h5>
    <h5 style="background-color:white;color:black;">Date Time : {%DateTime%}</h5>
    <h5 style="background-color:white;color:black;">RT - Real Time Value</h5>
    <h5 style="background-color:white;color:black;">MV - Multiplication Value</h5>
    <div>
        {%tbodyData%}
    </div>
    <br />
    <br />
    <h4 style="background-color:white;color:black;">Point Machine</h4>

    <div>
        {%tbodyPointData%}
    </div>

    <br />
    <br />
    <h4 style="background-color:white;color:black;">Alert</h4>

    <div>
        {%tbodyAlert%}
    </div>

    <br />
    <br />
    <h4 style="background-color:white;color:black;">Error Log</h4>

    <div>
        {%tbodyErrorLog%}
    </div>
</body>
</html>
