<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .tbl {
            padding: 5px ;
        }
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: Verdana; font-size: 16px; color:#e2eeef;">
    <table border="0">
        <tr style="border: 0px">
            <td style="text-align: center; background-color: white; color: black; border: 0px; ">
                <h2>{%siteName%}</h2>
            </td>
        </tr>
    </table>
    <table class="tbl" style="background-color: white; color: black; margin-top: 10px;">
        <thead>
            <tr>
                <th>Track</th>
                <th>Family Track</th>
            </tr>
        </thead>
        {%tbodyData%}
    </table>
</body>
</html>
