<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .tbl {
            padding: 5px ;
        }
        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body style="font-family: Verdana; font-size: 16px; color:#e2eeef;">
    <table class="tbl" style="background-color:white;color:black;margin-top:10px">
        <tr>
            <td colspan="5" style="padding:5px;font-size:18px; border:none" align="center">Maintenance Roster</td>
        </tr>
        <tr>
            <td colspan="3" style="border:none;padding:3px;">
                <span> Site Name:</span> <span>{%Sitename%} </span>

            </td>
            <td colspan="2" style="border:none;padding:3px;text-align:right">
                <span> Roster Date:</span> <span>{%RosterDate%} </span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="border:none;padding:3px;">
                <span>  Divison Name: </span> <span>{%DivisonName%} </span>
            </td>
            <td colspan="2" style="border:none;padding:3px;text-align:right">
                <span>  Zone Name: </span> <span>{%ZoneName%} </span>
            </td>
        </tr>
        <tr>
            <td colspan="5" style="border:1px solid black">
            </td>
        </tr>

        <tbody>
            {%tbodyData%}
        </tbody>
    </table>
    <table class="tbl" style="background-color:white;color:black;margin-top:10px">      

        <tbody>
            {%tbodyImageData%}
        </tbody>
    </table>
</body>
</html>
