<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .tbl {
            padding: 5px;
        }

        table, td, th {
            border: 1px solid black;
        }

        table {
            width: 150px;
            border-collapse: collapse;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body style="font-family: Verdana; font-size: 16px; color:#e2eeef;">
    <center><img src="http://energy7.in:97/Content/images/logo.jpg" height="50" width="105" class="center" /></center>

    <table class="tbl" style="background-color:white;color:black;margin-top:10px">
        <tr>
            <td colspan="2" style="padding:5px;font-size:18px; border:none;text-align:center">Summary</td>
        </tr>
        <tr>
            <td style="border: none; padding: 3px; text-align: left">
                <span>Site Name: {%Sitename%} </span>
            </td>
            <td style="border:none;padding:3px;text-align:right">
                <span>Date: {%Date%} </span>
            </td>
        </tr>
        <!--<tr>
            <td colspan="2" style="border:1px solid black;text-align:center">
                <span>Site Name: {%Sitename%} </span>
            </td>
        </tr>-->
        <tr>
            <td colspan="2" style="border:1px solid black">
                {%tbodyImageData%}
            </td>
        </tr>
    </table>
    <!--<table class="tbl" style="background-color:white;color:black;margin-top:10px">

        <tbody>
            <tr>
                <td>
                    {%tbodyImageData%}
                </td>
            </tr>

        </tbody>
    </table>-->
</body>
</html>
