<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
	<add key="APIBaseUrl" value="http://localhost:44315/api/" />
	<!--<add key="APIBaseUrl" value="http://energy7.in:90/api/" />-->
    <add key="FileBaseUrl" value="http://energy7.in:90" />
    <add key="MISBaseUrl" value="https://localhost:44315/" />
    <add key="MISAPIBaseUrl" value="https://localhost:44315/api/" />
    <add key="WebBaseUrl" value="http://energy7.in:91/api/" />
    <add key="RailwaySMMSAPIUrl" value="https://smms.indianrailways.gov.in/api/api/integration/get_asset_list/" />
    <add key="aspnet:RequestQueueLimitPerSession" value="2147483647" />
    <add key="ChatBotUrl" value="http://172.31.25.102:5001/" />
    <add key="ProxyBaseUrl" value="http://proxy.energy7.org:8083" />
    <add key="WebSocketBaseUrl" value="ws://proxy.energy7.org:8081" />
    <add key="ProxyBaseUrlSSL" value="https://proxy.energy7.org:8083" />
    <add key="WebSocketBaseUrlSSL" value="wss://energy7:k3806557@energy7.in:58081" />
    <add key="WebSocketAuthToken" value="ZW5lcmd5NzprMzgwNjU1Nw==" />
    <!--for production-->
    <!--<add key="TcpServerHost" value="172.31.25.106" /> -->
    <add key="TcpServerHost" value="proxy.energy7.org" />
    <!--for localhost-->
    <!-- ── Token budget ─────────────────────────────────────────────── -->
    <add key="MaxIter" value="10" />
    <add key="MaxHistoryTurns" value="6" />
    <add key="MaxToolResultChars" value="20000" />
    <add key="WarnTokenThreshold" value="40000" />
    <add key="AnthropicApiKey" value="" />
    <add key="AnthropicModel" value="claude-sonnet-4-6" />
    <add key="AnthropicMaxTokens" value="4096" />
    <add key="McpServerUrl" value="https://energy7.in:58084/sse" />
    <add key="SystemPrompt" value="" />
    <add key="MaxIter" value="8" />
    <add key="MaxHistoryTurns" value="4" />
    <add key="MaxToolResultChars" value="15000" />
    <add key="WarnTokenThreshold" value="30000" />
	<add key="McpServerUrl2" value="http://172.31.25.102:58085/frs/sse" />
	  <add key="AiToolLoggingEnabled" value="true" />
	  <add key="AiToolLogMaxChars" value="20000" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" />
    <customErrors defaultRedirect="~/Message/UnAuthorized">
    </customErrors>
    <sessionState timeout="5500">
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->
</configuration>