
img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
}

h2 {
    margin-bottom: .5em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}


/* hover styles */
.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;
}

    .location-image img {
        filter: blur(0px);
        transition: filter 0.3s ease-in;
        transform: scale(1.1);
    }

.location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
    .location-title {
        opacity: 1;
    }

    .location-image img {
        filter: blur(2px);
    }
}

.ct-u-displayTableVertical {
    height: 100%;
}

.ct-u-displayTable, .ct-u-displayTableVertical {
    display: table;
    width: 100%;
}

    .ct-u-displayTableVertical .ct-u-displayTableCell {
        vertical-align: middle;
    }

.ct-textBox {
    position: relative;
}

.ct-u-text--white {
    color: #fff !important;
}

.ct-u-displayTableCell {
    display: table-cell;
}

.ct-textBox h1, .ct-textBox h2, .ct-textBox h3, .ct-textBox h4, .ct-textBox h5, .ct-textBox h6 {
    line-height: 18px;
    margin-bottom: 9px;
}

.text-uppercase {
    text-transform: uppercase;
}

.ct-textBox .ct-productID {
    background-color: #333;
    border-radius: 3px;
    padding: 3px 6px;
}

.ct-textBox span {
    line-height: 24px;
}

.ct-fw-600 {
    font-weight: 600;
}

.ct-u-displayTableVertical .ct-u-displayTableCell {
    vertical-align: middle;
}

.ct-u-displayTableCell {
    display: table-cell;
}

.ct-buttonBox {
    display: inline-block;
    padding: 10px 0 10px 20px;
    margin-left: 18px;
}

.ct-u-text--normal {
    font-weight: normal;
}

